.banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 96px;
}

.banner-item {
    margin: 0px;
    width: 280px;    
}

.banner-item h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);
    padding-bottom: 5px;
}

.banner-item h2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-escuro);
    padding-bottom: 5px;
}

.banner-item p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-cinza-medio);
    padding: auto;
}