.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
}

.talentos p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    width: 125px;
    height: 28px;
    border-radius: 16px;
    background: var(--vermelho-claro);
    color: var(--vermelho);
}

.talentos h1 {
    color: var(--azul-escuro);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.talentos h3 {
    color: var(--cor-texto);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.talentos img {
    max-width: 1216px;
    width: 100%;
    border-radius: 12px;
}
